/* Styling of middle column */
div.display-area {
  background-color: rgb(245,245,247);
  border-left: 7px solid white;
  border-right: 7px solid white;
  border-bottom: 7px solid white;
  box-sizing: border-box;
  height: 100vh;
}


/* Right/last column width previews of slices */
div.scrollbar-area {
  background-color: rgb(245,245,247);
  box-sizing: border-box;
  height: 100vh;
  overflow: auto;
}

/* Styling of the sidebar and main display images */
.img, .mask{
    width: 95%;
    object-fit: contain;
    display: block;
}

/* Slice, Patient and Number of slices above the MainDisplay area*/
.Info{
  display:flex;
  align-items: center;
  width: 100%;
  padding: 5px;
}

/* Each .Info is a span (Patient Info, Current Slice and Number of Slices)*/
span {
    display:block;
    float:left;
    width: 100%;
    padding: 6px;
}

/* Styling for selected image on sidebar */
.imgselected {
  width: 95%;
  object-fit: contain;
  display: block;
  box-shadow: 0px 0px 10px 3px blue;
}

/*Styling for slice and mask overlay*/
div.slice-mask-container {
  position:relative;
  margin:5px;
}

div.slice-mask-container img.mask {
  position: absolute;
  top:0px;
  left:0px;
  z-index:10;
 }
