/* Styling of middle column */
div.display-area {
  background-color: rgb(245,245,247);
  border-left: 7px solid white;
  border-right: 7px solid white;
  border-bottom: 7px solid white;
  box-sizing: border-box;
  height: 100vh;
}

* {
  box-sizing: border-box;
}
/* Right/last column width previews of slices */
div.scrollbar-area {
  background-color: rgb(245,245,247);
  box-sizing: border-box;
  height: 90vh;
  overflow-y: auto;
}

/* Styling of the sidebar and main display images */
.img, .mask{
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  display: block;
}
/* Slice, Patient and Number of slices above the MainDisplay area*/
.Info{
  display:flex;
  align-items: center;
  width: 100%;
  padding: 5px;
}

/* Each .Info is a span (Patient Info, Current Slice and Number of Slices)*/
span {
    display:block;
    float:left;
    width: 100%;
    padding: 6px;
}

.heading {
  background-color: rgb(245,245,247);
}
/* Styling for selected image on sidebar */
.imgselected {
  width: 100%;
  object-fit: contain;
  display: block;
  box-shadow: 0px 0px 10px 3px blue;
}

/*Styling for slice and mask overlay*/
div.slice-mask-container {
  position:relative;
  margin:10px;
}

div.canvas {
  position: relative;
  margin: 10px;
  height: 70vh;
  display: flex;
  justify-content: center;
}



img.mask {
  position: absolute;
  top:0px;
  left:0px;
  z-index:10;
 }

 div.canvas img.image { /* object-fit: contain; mouse pointer issues */
  display: block;
  width:auto;
  max-width: 100%;
  height: 70vh;
  }

div.canvas img.canvasmask { /* object-fit: contain; */
  display: block;
  position: absolute;
  width:auto;
  max-width: 100%;
  height: 70vh;
  z-index: 1;
 }

 div.bottom-right {
   color: white;
   position: absolute;
   bottom: 4px;
   right: 8px;
 }

 .undraggable {
  -webkit-user-drag: none;

 }
